<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhan.leo.diffusionandosmosis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/diffuse_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DiffusionActivity"
            android:label="Diffusion"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".OsmosisActivity"
            android:label="Osmosis"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"/>
        <activity android:name=".ExplanationActivity"
            android:label="Explanations"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
